@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat+Brush&family=Cedarville+Cursive&family=Chelsea+Market&family=Courier+Prime:ital,wght@1,700&family=Hanalei+Fill&family=Metal+Mania&family=Righteous&family=Roboto:ital,wght@0,400;1,900&family=Sarala:wght@700&family=Special+Elite&display=swap');

/*Eu adaptei parte do código para ser utilizada em um outro projeto com mais recursos,
 por este motivo, algumas linhas de código, principalmente aqui do CSS estão inutilizadas
 nessa versão do site, como por exemplo, as variáveis de modo dark*/

*{
    margin: 0;
 }
body{
    position: relative;
    min-height: 100vh;
}



 header{
    display: flex;
    position: relative;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    justify-content:space-around;
    align-items: center;
    }

 .redes_box{
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
 }
 .redes{
   text-decoration: none;
   color: white;
   font-family: 'Sora', sans-serif;
   font-size: 20px;
 }

 .logo{
    width: 15rem;
 }

.childBox{
   position: relative;
   max-width: 1400px;
   left: 50%;
   transform: translate(-50%);
   margin-top: var(--margin);
   padding: 5px; 
}

 footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
 }

 
 body{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    height: 100%;
   }

button:hover{
 background-color:  red;
 color: white;
}


.footer_info{
   display: flex;
   text-decoration: none;
   color: white;
   justify-content: center;
   gap: 1rem;
}
.redes_icon{
   width: 40px;
}
label p:hover{
    cursor: pointer;
}



[theme="dark"]{
   --cor_fundo: rgb(44, 44, 44);
   --cor_txt: white;  
}


.tema{
   width: 100%;
   text-align: center;
   font-size: 100px;
   background-color: rgb(126, 125, 125);
   margin-top: 5rem;
   margin-bottom: 4rem;
}

.tema h1{
   font-size: 40px;
   color: white;
}

.uso{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
   gap: 2rem;
   margin-bottom: 2rem;
}

.txt{
   width: 60%;
   color: var(--cor_txt);
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}
.txt h2{
   text-align: center;
}

.uso img {
   width: 100%;
}

body{
   background-color: var(--cor_fundo);
}
 
#placa{
   position: relative;
   width: 400px;
   height: 560px;   
   background-color: rgb(255, 255, 255);
   overflow: hidden;
   box-shadow: 5px 5px 15px rgb(0, 0, 0);
 }

 .placaFundo{
   background-color: white;
   width: 100%;
   height: 100%;
 }


 
#tpromoção{
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #000;
   border-bottom: solid 3px black ;
   font-weight: bold;
   background-color: red;
   font-size: 60px;
   font-family: Arial, sans-serif;
   text-align: center;
   color: white;        
   margin-bottom: auto;
 }
#produto{
   position: absolute;
   width: 100%;
   height: 42%;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
 }
#promocao{
 padding: 4px;
 margin-bottom: auto;
 color: white;
}
#tipoDeProduto{
 font-weight: bold;
 font-size: 40px;
 margin-bottom: 0;
 color: #000;
}
#NomeDoProduto{
 position: relative;
 font-family: 'Anton', sans-serif;
 position: relative; 
 left: 52%;
 font-size: 70px;
 transform: translate(-50%, -1%);
 margin: -10px;
 color: #000;
}
.nomeproduto{
 color: rgb(0, 0, 0);
}
#descricao{
 font-weight: bold;
 font-size: 40px;
 margin-bottom: 0;
 color: #000;
}
#s{
 font-weight: bold;
 position: absolute;
 font-size: 60px;
 left: 30px;
 top: 20px;
}
#Reais{
 font-weight: bold;
 position: absolute;
 font-size: 180px;
 right: 130px;
 top: 40px;
}
#centavos{
 font-weight: bold;
 position: absolute;
 font-size: 100px;
 left: 290px;
 top: 60px;
 text-decoration: underline;
}
#virgula{
 position: absolute;
 font-size: 150px;
 top: 10px;
 right: 105px;
}
.preco{
 color: red;
}
#peso{
 font-weight: bold;
 margin-bottom: 0;
 position: absolute;
 font-size: 30px;
 position: absolute;
 bottom: 30px;
 right: 50px;
}
#base{
 position: absolute;
 width: 380px;
 height: 240px;
 background-color: yellow;
 margin: 10px;
 border-radius: 70px;
 border: solid 3px rgb(255, 0, 0);
}
#dentrada{
   box-shadow: 5px 2px rgba(0, 0, 0, 0.5);
   width: 320px;
   padding: 20px;
   border: 2px solid black ;
   border-radius: 10px;
   background-color: silver;
   font-size: 18px;
   border-radius: 10px;
   border: none;   
   height: 80%;
}
.botao1{
 width: 45%;
 border-radius: 20px;
 background-color: yellow;
 font-size: 15px;
 padding: 3px;
 border: none;
}
button:hover{
 background-color:  red;
 color: white;
}
#dvalor{
 position: absolute;
 width: 100%;
 height: 50%;
 top: 300px;
}

.placas{
   display: flex;
   justify-content: space-around;
   gap: 1rem;
   flex-wrap: wrap;
}


.redes_icon{
   width: 40px;
}



.content{
   display: flex;
   justify-content: space-around;
   gap: 1rem; 
}



.slide{
   display: flex;
   width: 1000px;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   overflow: hidden;
   background-color: aliceblue;
}

.fotos{
   position: relative;
   display: flex;
   align-items: center;
   justify-items: center;
   width: 100%;
   border-radius: 15px;
   transform: translateX(0);
   background-color: aliceblue;
   transition: 1s;
}

button{
   background-color: white;
}


.sli{
   width: 100%; 
}

.carro{
   margin-left: 50%;
   transform: translateX(-50%);
   width: 70%;
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}

iframe{  
   width: 100%;
   height: 500px;  
}
.video{
   margin-left: 50%;
   transform: translateX(-50%);
   width: 70%;
   background-color: aliceblue;
}



@media screen and (max-width: 1220px) {
   .content{
      display: flex;
      gap: 10rem;
      
   }
   .placas{
      flex-direction: column-reverse; 
      align-items: center;
   }}
   


@media screen and (max-width: 950px) {
   .content{
      display: flex;
      gap: 1rem;  
   }
   .txt{
      width: 80%;
   }
   iframe{  
      height: 350px;  
   }

   }
   @media screen and (max-width: 800px) {
      .content{
         flex-direction: column; 
         align-items: center; 
      }
      .video{
         width: 80%;
      }
      .carro{
         margin-left: 50%;
         transform: translateX(-50%);
         width: 95%;
         display: flex;
         align-items: center;
         margin-bottom: 1rem;
      }
      iframe{  
         height: 300px;  
      }
      
    }
 
@media screen and (maX-width: 410px) {
   
   body{
      width: 120%;
   }
   iframe{  
      height: 200px;  
   }
   .video{
      width: 95%;
   }

   .txt{
      width: 95%;
   
   }

   .tema h1{
      font-size: 30px;
   }
  
   #placa{
      width: 350px;
      height: 500px;
   }
   #dentrada{
      width: 300px;
   }
      
   #dvalor{
      top: 280px;
     }

   #base{
   position: absolute;
   width: 330px;
   height: 200px;
   background-color: yellow;
   margin: 10px;
   border-radius: 70px;
   border: solid 3px rgb(255, 0, 0);
   }
   #centavos{
      font-weight: bold;
      position: absolute;
      font-size: 90px;
      left: 245px;
      top: 70px;
      text-decoration: underline;
     }
   #tipoDeProduto, #descricao{
      font-size: 35px;
   }
   #tpromoção{
      font-size: 55px;
    }
   #Reais{
   font-weight: bold;
   position: absolute;
   font-size: 170px;
   right: 130px;
   top: 55px;
   }
   #virgula{
      top: 70px;
      font-size: 100px;
     }
   }
   
   @media screen and (max-width: 700px) {
      .redes_box{
         display: flex;
         gap: 15px;
         flex-wrap: wrap;
         flex-direction: column;
      }
      .logo{
         width: 10rem;
      }
      .redes{
         text-decoration: none;
         color: white;
         font-family: 'Sora', sans-serif;
         font-size: 15px;
       }
      
    }
    @media screen and (max-width: 500px) {
      .redes_box{
         display: none;
      }
   }
    .section1{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       gap: 1rem;
       width: 100%;
    
    } 

